header {
    height: 60px;
}

main {
    height: calc(100vh - 60px);
    width: 100%;
}

aside {
    min-width: 3rem;
    background-color: #021e34;
    background-image: url(img/sidebar-bg.png);
}


.ms-color-yellow {
    color: #ff8f00;
}

#ms-bg-grey {
    background-color: #e5e5e5;
}

/* Media Query */

@media screen and (min-width: 576px) { 



 }