
/* General Layout */

header {  
    height: 2.5rem;
    margin: 1.25rem 0 1.25rem 0;  
}

main { 
    height:calc(100vh - 5rem);
    overflow: auto;
    overflow-x: hidden;
}

aside {
    min-width: 4rem;
    background-color: #021e34;
    background-image: url(img/sidebar-bg.png);
}

/* My colors */

.ms-color-yellow {
    color: #ff8f00;
}

.ms-bg-lightblue {
    background-color: #1b72e8;
}

.ms-bg-blue {
    background-color: #165bba;
}

.ms-bg-lightgrey {
    background-color: #f7f7f7;
}

.ms-bg-grey {
    background-color: #f8f9fa;
}

.ms-bg-white {
    background-color: white;
}

.ms-grey-button {
    color: grey;
    border-color: grey;
}


#ms-bg-grey {
    background-color: #e5e5e5;
}

/* Media queries */

@media screen and (min-width: 768px) {
    aside {
        min-width: 8rem;
    }

    .ms-new-student {
        justify-content: end;
    }
}

